# Jangan ignore composer.json dan package.json!
# Hapus atau comment baris yang meng-ignore file penting

vendor/
node_modules/
storage/
public/storage
public/hot
.env
.env.local
.env.testing
.env.production
.git
.github
.gitignore
.DS_Store
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
.vscode
database/database.sqlite
*.sqlite
*.sqlite-journal
.phpunit.result.cache
docker-compose.yml
Dockerfile
README.md
note.txt
tests/
*.log
.phpunit.cache
.stubs
*.md